/* GENERAL */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    width: 100%;
    font-family: "Raleway", "sans-serif";
}

.header-list,
.search-list,
.popular-list,
.accomodations-list,
.footer-list {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h4 {
    color: #000;
}

.starsGrade {
    color: #0065fc;
    margin-top: 0.3125rem;
    font-size: 0.8em;
}

.gray .fas.fa-star {
    color: lightgray;
}

.prices,
.lower-prices {
    color: #000;
    font-weight: bold;
}

/* HEADER */

.header-desktop {
    display: none;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
    align-items: center;
}

.header-nav ul {
    display: flex;
    justify-content: space-around;
}

.header-nav li {
    display: flex;
    border-top: none;
    border-bottom: 0;
    width: 50%;
}

.header-nav-accomodations {
    width: 100%;
    padding: 0.9375rem;
    text-align: center;
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
}

.header-nav-activities {
    width: 100%;
    padding: 0.9375rem;
    text-align: center;
    color: #0065fc;
    border-bottom: 3px solid #f2f2f2;
}

.header-signup-btn {
    color: #0065fc;
    font-weight: bold;
}

/* section search */
.search {
    padding: 0 0.5rem;
}

.search-top {
    text-align: left;
    margin: 30px 10px 0px;
}

.search-main-title {
    letter-spacing: -0.05rem;
    margin-bottom: 15px;
}

.search-subtitle {
    margin-top: 0;
}

.search-form div {
    display: flex;
}

.search-form {
    margin: 35px 10px;
}

#research {
    width: 239px;
    padding: 14px;
    border: 1px solid #f2f2f2;
    font-size: 16px;
    font-weight: bold;
}

.search-marker {
    width: 52px;
    padding: 14px;
    border: solid 1px #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    text-align: center;
}

.search-form .fa-search {
    color: #fff;
}

.search-btn {
    padding: 16px;
    border: solid 0 #f2f2f2;
    background-color: #0065fc;
    border-radius: 15px;
    position: relative;
    right: 10px;
}

.search-big-btn {
    margin-right: 0px;
    padding: 14px;
    border: solid 0px #f2f2f2;
    background-color: #0065fc;
    border-radius: 0 10px 10px 0;
    position: relative;
    right: 1px;
    color: #fff;
    font-weight: bold;
    display: none;
}

.search-second-title {
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.search-list {
    margin-top: 12px;
    margin-bottom: 10px;
}

.search-list a {
    border: 2px solid #dfdfdf;
    padding: 14px 5px 13px 9px;
    color: #000;
    font-weight: bold;
    margin-left: 8px;
    padding-right: 10px;
    padding-left: 55px;
    border-radius: 30px;
    position: relative;
    background-color: #fff;
}

.search-list i {
    padding: 15px;
    color: #0065fc;
    border: 1px solid #deebff;
    border-radius: 50%;
    background-color: #deebff;
    margin-right: 5px;
    position: absolute;
    top: -1px;
    left: -5px;
}

.fas.fa-child {
    padding: 13px 18px 16px 18px;
}

.search-list a:hover {
    background: linear-gradient(70deg, transparent, #deebff, #0065fc);
    border: #deebff;
}

.search-list ul {
    padding-left: 0.625rem;
    margin-top: 0.625rem;
}

.search-list li {
    display: inline-block;
    margin: 1.25rem 0.3125rem 1.5625rem;
}

.search-fa {
    border: 0.0625rem solid #deebff;
    padding: 0.9375rem;
    border-radius: 50%;
    background-color: #deebff;
    color: #0065fc;
    position: relative;
    left: 0.125rem;
}

.fas.fa-child {
    margin-left: 0.1875rem;
    margin-right: 0.25rem;
}

.family {
    padding-left: 1.875rem;
}

.search-info {
    display: flex;
    padding-left: 15px;
    align-items: baseline;
    margin-bottom: 25px;
}

.search-fa-info p {
    margin-top: 0px;
}

i.fas.fa-info {
    border: 1px solid lightgrey;
    border-radius: 50%;
    padding: 5px 8.5px 5px;
    color: #0065fc;
    font-size: 12px;
    margin-right: 10px;
}

/* aside popular */
.popular {
    background-color: #f2f2f2;
    padding: 0.9375rem 0;
}

.popular-top h3 {
    font-size: 1.4rem;
    color: #000;
    display: flex;
    justify-content: space-between;
    margin-left: 1.4rem;
    margin-top: 1.17rem;
}

.fas.fa-chart-line {
    padding-right: 2rem;
}

.subtitle {
    color: #000;
}

.popular-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-list li {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 90%;
    border-radius: 1.25rem;
    margin: 0.625rem 0;
}

.popular-list li a {
    height: 8.31em;
    display: flex;
    border: #fff 0.3125em solid;
    border-radius: 20px;
    position: relative;
}

img.popular-image {
    width: 40%;
    height: auto;
    border-radius: 0.9375em 0 0 0.9375em;
    object-fit: cover;
}

.popular-overlay {
    display: flex;
    flex-direction: column;
    padding: 0 1.25rem;
    text-align: left;
}

.popular-overlay h4 {
    margin-bottom: 0.3125rem;
    margin-top: 0.625rem;
    font-size: 0.9375rem;
}

.popular-overlay .starsGrade {
    position: absolute;
    bottom: 4px;
}
/* accomodations */

#hebergements {
    margin-top: 3.04rem;
    margin-left: 1.3rem;
    font-size: 1.4rem;
    color: black;
}

.accomodations-list ul {
    display: flex;
    flex-direction: column;
}

.accomodations-list li {
    display: flex;
    justify-content: center;
    margin-bottom: 0.625rem;
}

.accomodations-list a {
    width: 90%;
    height: auto;
    /*background-color: #fff;*/
    border: #fff 0.3125em solid;
    box-shadow: 0.3125em 0.3125em 1.25em #f2f2f2;
    border-radius: 0.9375em;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.625em;
}

.accomodations-image {
    width: 100%;
    height: 112px;
    object-fit: cover;
    border-radius: 0.9375em 0.9375em 0 0;
}

.accomodations-overlay {
    padding-left: 0.625rem;
}

.accomodations-overlay h4 {
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
}

.accomodations-overlay .starsGrade {
    margin-bottom: 0.3125rem;
}

.more {
    margin: 1.4rem;
    color: #000;
    font-size: 1.1rem;
    font-weight: bold;
}
/*activities*/

#activites {
    margin-top: 35px;
    margin-left: 1.3rem;
    font-size: 1.4rem;
    color: black;
}

.activities-places {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*background-color: #fff;*/
    width: 90%;
    /*border-radius: 1.25rem;*/
    margin: 0 1.125rem 30px;
}

.activities-first {
    width: 100%;
}

.activities-second {
    width: 100%;
}

.activities-XL {
    width: 100%;
}

.activities-places a {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1.25em;
    box-shadow: 4px 4px 10px 5px #f2f2f2;
    border-radius: 15px;
}

.activities-image {
    width: 100%;
    height: 8em;
    object-fit: cover;
    border-radius: 0.9375em 0.9375em 0 0;
}

.activities-places h4 {
    margin: 0px;
    padding: 15px;
    font-weight: bold;
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 1.25rem 1.5rem;
}

.footer-titles {
    /*padding-top: 20px;*/
    margin-bottom: 0;
}

.footer-links {
    list-style-type: none;
    padding-left: 0;
}

footer li {
    padding-top: 0.625rem;
}

/*------- MEDIA SCREEN----- */

@media screen and (min-width: 500px) {
    .header {
        display: none;
    }

    .header-desktop {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-bottom: 0;
    }

    .header-desktop ul {
        display: flex;
        list-style-type: none;
        padding-left: 0;
    }

    .header-desktop li {
        margin-right: 5px;
    }

    .header-desktop a {
        padding: 25px;
    }

    .header-desktop-accomodations {
        color: #0065fc;
        border-top: 3px solid;
    }

    .header-desktop-activities {
        color: #000;
    }

    .header-desktop-signup {
        color: #0065fc;
    }

    /* media search */

    .search-form div {
        justify-content: center;
    }

    .search-btn {
        display: none;
    }

    .search-big-btn {
        display: inline-block;
    }

    .container-info-filtres {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }

    /*media popular*/

    .popular-list li {
        justify-content: center;
        background-color: unset;
    }

    .popular-list li a {
        width: 90%;
        border: hidden;
        border-radius: unset;
    }

    .popular-image {
        border: 5px solid #fff;
    }

    .popular-overlay {
        background-color: #fff;
        margin-left: 15px;
        width: 100%;
        border-radius: 0 20px 20px 0;
    }

    /*media accomodations */
    /*media (500px) footer*/
}

@media screen and (min-width: 700px) {
    /*search*/

    .search-form div {
        justify-content: center;
    }

    #research {
        width: 280px;
    }

    .popular-list li {
        display: flex;
        width: 90%;
        border-radius: 20px;
        margin: 0.625rem 0;
    }

    img.popular-image {
        width: 40%;
        height: auto;
        margin-right: 0;
        border-radius: 0.9375em 0 0 0.9375em;
        object-fit: cover;
    }

    .activities-places {
        display: flex;
        justify-content: center;
        flex-direction: unset;
        align-items: flex-start;
        width: 95%;
        margin: 12px 20px;
    }

    .activities-places a {
        width: 100%;
        height: auto;
        box-shadow: 0.125em 0.375em 0.875em #f2f2f2;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .activities-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.9375em 0.9375em 0 0;
    }

    /* media accomodations */

    .accomodations {
        display: flex;
        flex-direction: column;
    }

    .accomodations-list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .accomodations-list li {
        width: 50%;
    }

    .accomodations-image {
        height: 125px;
    }

    /* activities */

    #activities {
        margin-top: 20px;
        /*height: 475px;*/
    }

    .activities {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 840px;
        align-items: center;
    }

    #activites {
        align-self: flex-start;
    }

    .activities-places {
        display: flex;
        flex-direction: column;
    }

    .activities-second,
    .activities-first {
        display: flex;
        width: auto;
        height: 300px;
        margin-bottom: 45px;
    }

    .activities-XL {
        width: 100%;
        height: auto;
    }

    .activities-places a {
        height: 100%;
        width: auto;
    }

    .activities-doubleXL {
        height: 100%;
        width: 100%;
    }

    .activities-little-pics {
        width: 100%;
        height: 50%;
    }

    .activities-little-pics img {
        height: 70%;
    }

    /*media footer*/

    .footer {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        padding: 1.25rem 0;
    }

    .footer div {
        width: 33.33%;
        padding: 0 30px 0 30px;
    }
}

@media screen and (min-width: 1000px) {
    /*media search*/

    .search-form div {
        justify-content: flex-start;
    }

    .popular-list {
        display: flex;
        flex-direction: column;
    }

    .popular-list li {
        display: flex;
        justify-content: flex-start;
        /*background-color: #fff;*/
        width: 90%;
        border-radius: 1.25rem;
        margin: 0.625rem 0;
    }

    .popular-list li a {
        width: 40%;
        height: 8.31em;
        display: flex;
        /*justify-content: flex-start;*/

        border-radius: 1.5625em;
    }

    img.popular-image {
        width: 40%;
        height: auto;
        margin-right: 0;
        border-radius: 0.9375em 0 0 0.9375em;
        object-fit: cover;
    }

    .popular-overlay {
        display: flex;
        flex-direction: column;
        padding: 0 1.25rem;
        margin-left: 0;
        text-align: left;
    }

    .activities-places {
        flex-direction: row;
    }

    /*accomodations*/

    /*.accomodations-list ul {
        display: flex;
        flex-direction: column;
    }

    .accomodations-list li {
        display: flex;
        justify-content: center;
        margin-bottom: 0.625rem;
    }

    .accomodations-list a {
        width: 90%;
        height: auto;
        /*background-color: #fff;*/
    /*border: #fff 0.3125em solid;
        box-shadow: 0.3125em 0.3125em 1.25em #f2f2f2;
        border-radius: 0.9375em;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.625em;
    }

    .accomodations-image {
        width: 100%;
        height: 112px;
        object-fit: cover;
        border-radius: 0.9375em 0.9375em 0 0;
    }*/
}
